<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.SysRoleMapper">
    <!--根据要修改的那一行前端传过来的id,回显数据-->
    <select id="updateById" resultType="com.learn.entity.system.SysRole">
        select id,role_name,role_code,description,create_time,update_time,is_deleted
        from sys_role
        where
            is_deleted=0 and id=#{id}
    </select>

    <!--修改角色的方法-->
    <update id="updateSysRole">
        UPDATE sys_role
        <set>
            <if test="roleName!=null and roleName!=''">
                role_name = #{roleName} ,
            </if>
            <if test="roleCode!=null and roleCode!=''">
                role_code = #{roleCode} ,
            </if>
            <if test="description!=null and description!=''">
                description = #{description} ,
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id} AND is_deleted = 0

    </update>

    <!--添加角色-->
    <insert id="addRole">
        insert into sys_role(
            role_name,
            role_code,
            description,
            create_time,
            update_time
        )values (
            #{roleName},
            #{roleCode},
            #{description},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <update id="delRoleById">
    update sys_role
    set is_deleted=1
    where is_deleted=0 and id=#{id}
    </update>

    <select id="findPage" resultType="com.learn.entity.system.SysRole">
        select id,role_name,role_code,description,create_time,update_time,is_deleted
        from sys_role
        where is_deleted=0
          <if test=" keyword!=''and keyword!=null">
              AND role_name like CONCAT('%',#{keyword},'%')
          </if>
    </select>
</mapper>